<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">RubyConfIndia2012, Pune</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="../2010/index.html">2010</a></li>
        <li><a href="../2011/index.html">2011</a></li>
      </ul>
    </div>
  </div>
</div>
